*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    
    background-color: #102C57;
}

.headercon{
    width: 85vw;
    margin: auto;
    background-color: #102C57;
    /* border: 1px solid black; */
    color: #FEFAF6;
}

.landingcon{
    min-height: 90.2vh;
    text-align: center;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    align-items: center;

}

.landingcon::before {
    content: "";
    background: url('../assets/palworld-key-art.webp') no-repeat center center;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

/* company */
.companycon{
    display: flex;
    align-items: center;
}

.company{
    padding: .7rem;
}

/* landing */
div.description{
    border-radius: 20px;
    background-color: hsla(30, 80%, 98%, .8);
    margin: auto;
    width: max(400px,40vw);
    min-height: 40vh;
    padding: 8vh;
}

p.company-desc{
    margin: 1rem;
    font-size: 18px;
    color: #102C57;
}

button.storelink{
    padding: .6rem;
    margin: 1rem;
    border: 0px;
    font-weight: 700;
    background-color:#3A78B8;
    color: #FEFAF6;
    border-radius: 10px;
}

button.storelink:hover{
    background-color: #FEFAF6;
    color: #3A78B8;
}
