*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.storepage{
    background-color: #FEFAF6;
    color: rgb(30, 30, 30);
}

.storecon{
    width: 100%;
    background-color: #102C57;
    color: #FEFAF6;
}

.store-header{
    max-width: 85%;
    margin: auto;
}

p.dim{
    color: #e5e5e5;
    font-weight: 100;
}


.featured-section{
    border-radius: 20px;
    background-color: #EADBC8;
    max-width: 80vw;
    min-height: 48vh;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: max(10px,1vw);
}

.featured-title{
    display: flex;
    align-items: center;
}

h2.feat{
    margin: 1rem .5rem;
    display: inline;
    color: #102C57;
}

.refreshbtn{
    margin-left: auto;
    margin-right: 10px; 
    border: 0px;
    padding: .3rem;
    max-height: 35px;
    border-radius: 90%;
    background-color:#3A78B8;
}

#refresh{
    filter: invert(87%) sepia(74%) saturate(102%) hue-rotate(297deg) brightness(104%) contrast(99%);
}
.refreshbtn:hover{
    background-color: rgb(159, 220, 255);
}

.featurecon{
    display: flex;
    justify-content: space-around;
}

.cards{
    background-color: #FEFAF6;
    width: 15vw;
    min-height: 30vh;
    border: 1px solid #DAC0A3;
    border-radius: 15px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardbtn{
    margin: .1rem;
    width: 90%;
    padding: .3rem .1rem;
    background-color: #DAC0A3;
    color: #102C57;
    border: 0px;
    border-radius: 6px;
}

.cardbtn:hover{
    background-color:#EADBC8;
}

/* search */
.search-section{
    background-color: #EADBC8;
    border-radius: 20px;
    margin: auto;
    display: flex;
    min-height: 55vh;
    width: 80vw;

}

.searchbox{
    min-width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchcon{
    padding: max(2px, 2vw);
    min-width: 220px;
    display: flex;
    justify-content: center;
}

input{
    width: max(130px, 20vw);
    border: 1px solid #DAC0A3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 2rem;
    font-size: 1rem;
    padding: .2rem;
}

.searchbtn{
    height: 2rem;
    padding: .3rem;
    background-color:#3A78B8;
    color: #FEFAF6;
    border: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}

.searchbtn:hover{
    background-color: rgb(159, 220, 255);
    color: #FEFAF6;
}

/* preview */

.previewcard{
    width: 45vw;
    padding: 15px max(15px, 3vw);
    border-right: 1px solid #FEFAF6;
}

h2#pokedex{
    margin: 20px 0px;
    font-size: max(22px, 1.5vw);
    color: #102C57;
}

.basicinfo{
    display: flex;
    flex-wrap: wrap;
}

.basics{
    padding: 1rem;
    min-width: 150px;

}

.pokepreview{
    width: 200px;
    border: 1px solid #DAC0A3;
    border-radius: 20px;
    background-color: #FEFAF6;
}

.searchresult{
    width: max(170px, 20vw)
}

.searchresult .cards{
    width: 90%;
}

@media screen and (max-width: 830px) {
    .store-header {
        max-width: 98vw;
    }
    .featured-section{
        max-width: 96vw;
    }
    .search-section{
        width: 96vw;
    }
    .cards{
        width: 18vw;
        padding: 3px;
    }
    .cardbtn{
        padding: .1rem 1px;
    }
    .searchbox{
        width: 56vw;
    }
    .previewcard{
        width: 40vw;
    }
}

.soundbtn{
    background-color: #FEFAF6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    gap: 5px;
}

.soundbtn:hover{
    background-color: rgb(205, 166, 124);
}